<br />
<div class="booyah-box col-10 offset-1">

    <div class="hero">
    <br />
        <div class="frosty col-10 offset-1 text-center">
            <br />
            <h1>Want To Join Our Team?</h1>
            <br /><br />
        </div>
    </div>

  <br />
  <h1>Careers</h1>
  <br />
  <br />
  <h5>We would love to hear from you.
  Email us your resume and copy letter.  The following positions are available...</h5>
  <p>
  <ul>
    <li>Yoga Instructor</li>
    <li>Life Coach</li>
    <li>Meditation Specialist and Leader</li>
    <li>Group Leader</li>
  </p>
</div>