<div class="hero">
<br />
    <div class="frosty col-10 offset-1 text-center">
        <br />
        <h1>Deeper Connection, Heart Expansion</h1>
        <br />
        <h2>Meditations</h2>
        <br />
        <%= link_to 'Learn More', courses_path, class: 'btn btn-info' %>
        <br /><br />
    </div>
</div>
<br />
<div class="row feature text-center">
    <div class="col-12 col-sm">
        <h3>Amazing Courses</h3>
        <br />
        <p>Choose from any number of courses to learn meditation techniques.</p>
    </div>
    <div class="col-12 col-sm">
        <h3>At Your Own Pace</h3>
        <br />
        <p>Enroll and access a courses archive of deep meditations.</p>
    </div>
    <div class="col-12 col-sm">
        <h3>Join Our Community</h3>
        <br />
        <p>Learn with a community of open hearted individuals.</p>
    </div>
</div>

